*.vs
*etc-pihole
*etc-dnsmasq.d
*build
*dist
*main.spec
*.env
*globalStorage*
*state*
*redhat*
*.so
*build/
/configuration/linux/global/docker/traefik/authelia/users.yml
/configuration/linux/global/docker/traefik/authelia/db.sqlite3
/configuration/linux/global/docker/traefik/authelia/notification.txt
/configuration/linux/global/docker/traefik/authelia
