[submodule "docker-pi-hole"]
	path = docker-pi-hole
	url = https://github.com/pi-hole/docker-pi-hole.git
[submodule "stremio-docker"]
	path = stremio-docker
	url = https://github.com/tsaridas/stremio-docker.git
[submodule "kaizoku"]
	path = kaizoku
	url = https://github.com/oae/kaizoku.git
[submodule "kitty"]
	path = kitty
	url = https://github.com/catppuccin/kitty.git
[submodule "AdGuardHome"]
	path = AdGuardHome
	url = https://github.com/AdguardTeam/AdGuardHome.git
[submodule "neofetch-themes"]
	path = neofetch-themes
	url = https://github.com/Chick2D/neofetch-themes.git
[submodule "Elegant-grub2-themes"]
	path = Elegant-grub2-themes
	url = https://github.com/vinceliuice/Elegant-grub2-themes.git
[submodule "unbound-docker"]
	path = unbound-docker
	url = https://github.com/MatthewVance/unbound-docker
[submodule "docker-transmission"]
	path = docker-transmission
	url = https://github.com/linuxserver/docker-transmission.git
[submodule "Kavita"]
	path = Kavita
	url = https://github.com/Kareadita/Kavita.git
[submodule "manga-dlp"]
	path = manga-dlp
	url = https://github.com/olofvndrhr/manga-dlp
